<!DOCTYPE html>
<html>
  <head>
    <%- include('../html_head', {title: title}) %>
  </head>
  <body>
    <div id="page">
      <div id="main">
        <%- include('../page_header', {title: title, subtitle: subtitle, menus:menus}) %>
        <div class="container">
          <%- include('../page_menu', {items:[
            {link:"new", label:__("Ajouter"), icon:"plus", tooltip:__("Ajouter un livre (exemplaire)")},
            {link:"list", label:__("Lister"), icon:"th-list", tooltip:__("Liste des livres (exemplaires)")},
            {link:"search", label:__("Rechercher"), icon:"search", tooltip:__("Rechercher un livre")}
          ]}) %>
        </div>
      </div>
    </div>

    <%- include('../page_footer') %>
  </body>
</html>
