<% if (message != null) { %>
<div class="panel panel-<%=message.type%>">
  <div class="panel-heading"><h3 class="panel-title"><%= message.text %></h3></div><!-- class="panel-heading" -->
</div><!-- class="panel panel-<%=message.type%>" -->
<% } // if if (message != null) %>
