<!-- Force Internet Explorer to use latest engine - no quirks mode please! -->
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<title><%= title %></title>
<link rel="stylesheet" href="/static/bootstrap-3.3.6/css/bootstrap.css">
<script type="text/javascript" src="/static/js/jquery-1.12.1.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-3.3.6/js/bootstrap.js"></script>
<link rel='stylesheet' href='/css/default.css' />
