<!DOCTYPE html>
<html>
  <head>
    <%- include('html_head', {title: title}) %>
  </head>
  <body>
    <div id="page">
      <div id="main">
        <%- include('page_header', {title: title, subtitle: "Menu principal", menus:menus}) %>
        <div class="container-fluid">
          <%- include('page_menu', {items:[
            {link:"borrow/", label:"Emprunts", icon:"share", tooltip:"Gérer les emprunts et les retours"},
            {link:"item/", label:"Livres", icon:"book", tooltip:"Gérer les livres (inventaire)"},
            {link:"user/", label:"Lecteurs", icon:"user", tooltip:"Gérer les lecteurs (emprunteurs)"},
          ]}) %>
        </div>
      </div>
    </div>

    <%- include('page_footer') %>
  </body>
</html>
