<!DOCTYPE html>
<html>
  <head>
    <%- include('html_head', {title: title}) %>
  </head>
  <body>
    <div id="page">
      <div id="main">
        <%- include('page_header', {title: title, subtitle: __("Menu principal"), menus:menus}) %>
        <div class="container-fluid">
          <%- include('page_menu', {items:[
            {link:"borrow/new", label:__("Emprunter"), icon:"share", tooltip:__("Emprunter un livre")},
            {link:"borrow/delete", label:__("Retourner"), icon:"refresh", tooltip:__("Retourner un livre")},
            {link:"item/search", label:__("Rechercher"), icon:"search", tooltip:__("Rechercher un livre")},
          ]}) %>
        </div>
      </div>
    </div>

    <%- include('page_footer') %>
  </body>
</html>
