<!DOCTYPE html>
<html>
  <head>
    <%- include('html_head', {title: title}) %>
  </head>
  <body>
    <div id="page">
      <div id="main">
        <%- include('page_header', {title: title, subtitle: "Menu principal", menus:menus}) %>
        <div class="container-fluid">
          <%- include('page_menu', {items:[
            {link:"borrow/new", label:"Emprunter", icon:"share", tooltip:"Emprunter un livre"},
            {link:"borrow/delete", label:"Retourner", icon:"refresh", tooltip:"Retourner un livre"},
            {link:"manage/", label:"Gérer", icon:"cog", tooltip:"Gérer les livres (inventaire) et les lecteurs"},
/*
            {link:"item/", label:"Livres", icon:"book", tooltip:"Gérer les livres (inventaire)"},
            {link:"user/", label:"Lecteurs", icon:"user", tooltip:"Gérer les lecteurs (emprunteurs)"},
*/
          ]}) %>
        </div>
      </div>
    </div>

    <%- include('page_footer') %>
  </body>
</html>
