body {
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Handle page structure: page (header + main) and footer */
html, body
{
  height: 100%;
}
#page {
  min-height: 100%;
}

#main {
	padding-bottom: 100px;  /* must be same height as the footer */
}

#page_footer {
  position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;
}

/* Override Bootstrap grid with extra spacing in MENUS */
.bib-row-menu {
  margin-bottom: 15px;
}

/* Change cursor on clickable rows (rows with the data-href attribute) */
tr[data-href]
{
  cursor: pointer;
}
