<!DOCTYPE html>
<html>
  <head>
    <%- include('../html_head', {title: title}) %>
  </head>
  <body>
    <div id="page">
      <div id="main">
        <%- include('../page_header', {title: title, subtitle: __("Lecteurs"), menus:menus}) %>
        <div class="container">
          <%- include('../page_menu', {items:[
            {link:"new", label:__("Ajouter"), icon:"plus", tooltip:__("Ajouter un lecteur (emprunteur)")},
            {link:"list", label:__("Lister"), icon:"book", tooltip:__("Liste des lecteurs (emprunteurs)")},
            {link:"search", label:__("Rechercher"), icon:"user", tooltip:__("Rechercher un lecteur (emprunteur)")}
          ]}) %>
        </div>
      </div>
    </div>

    <%- include('../page_footer') %>
  </body>
</html>
