<% /*

      Copyright 2016-2018 Replay SDK (http://www.replay-sdk.com)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

 */ -%>
<!DOCTYPE html>
<html>
  <head>
    <%- include('../html_head', {title: title}) %>
  </head>
  <body>
    <div id="page">
      <div id="main">
        <%- include('../page_header', {title: title, subtitle: __("Lecteurs"), menus:menus}) %>
        <div class="container">
          <%- include('../page_menu', {items:[
            {link:"new", label:__("Ajouter"), icon:"plus", tooltip:__("Ajouter un lecteur (emprunteur)")},
            {link:"list", label:__("Lister"), icon:"th-list", tooltip:__("Liste des lecteurs (emprunteurs)")},
            {link:"search", label:__("Rechercher"), icon:"search", tooltip:__("Rechercher un lecteur (emprunteur)")},
            {link:"deduplicate", label:__("Dé-doublonner"), icon:"duplicate", tooltip:__("Supprimer les lecteurs en doublon (dé-doublonner)")}
          ]}) %>
        </div>
      </div>
    </div>

    <%- include('../page_footer') %>
  </body>
</html>
