<!DOCTYPE html>
<html>
  <head>
    <%- include('../html_head', {title: title}) %>
  </head>
  <body>
    <div id="page">
      <div id="main">
        <%- include('../page_header', {title: title, subtitle: subtitle, menus:menus}) %>
        <div class="container-fluid">
          <%- include('../page_menu', {items:[
            {link:"../item/", label:__("Livres"), icon:"book", tooltip:__("Gérer les livres (inventaire)")},
            {link:"../user/", label:__("Lecteurs"), icon:"user", tooltip:__("Gérer les lecteurs (emprunteurs)")},
          ]}) %>
        </div>
      </div>
    </div>

    <%- include('../page_footer') %>
  </body>
</html>
