<!DOCTYPE html>
<html>
  <head>
    <%- include('../html_head', {title: title}) %>
  </head>
  <body>
    <div id="page">
      <div id="main">
        <%- include('../page_header', {title: title, subtitle: subtitle, menus:[{text:"Menu principal", link:"/"}]}) %>
        <div class="container">
          <%- include('../page_menu', {items:[
            {link:"new", label:"Emprunter", icon:"share", tooltip:"Ajouter un emprunt (sortir un livre)"},
            {link:"delete", label:"Retourner", icon:"refresh", tooltip:"Rendre un livre (retour en bibliothèque)"},
            {link:"search", label:"Rechercher", icon:"search", tooltip:"Rechercher un emprunt"},
            {link:"list", label:"Lister", icon:"th-list", tooltip:"Liste des emprunts (livres sortis)"},
          ]}) %>
        </div>
      </div>
    </div>

    <%- include('../page_footer') %>
  </body>
</html>
