<!DOCTYPE html>
<html>
  <head>
    <%- include('../html_head', {title: title}) %>
  </head>
  <body>
    <div id="page">
      <div id="main">
        <%- include('../page_header', {title: title, subtitle: subtitle, menus:[{text:__("Menu principal"), link:"/"}]}) %>
        <div class="container">
          <%- include('../page_menu', {items:[
            {link:"new", label:__("Emprunter"), icon:"share", tooltip:__("Ajouter un emprunt (sortir un livre)")},
            {link:"delete", label:__("Retourner"), icon:"check", tooltip:__("Rendre un livre (retour en bibliothèque)")},
/* TODO
            {link:"search", label:__("Rechercher"), icon:"search", tooltip:__("Rechercher un emprunt")},
*/
            {link:"list", label:__("Lister"), icon:"th-list", tooltip:__("Liste des emprunts (livres sortis)")},
          ]}) %>
        </div>
      </div>
    </div>

    <%- include('../page_footer') %>
  </body>
</html>
